* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  background: linear-gradient(90deg, #fc466b 0%, #3f5efb 100%);
  color: #ebf4dd;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-two {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.container-three {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
}

.header a {
  text-decoration: none;
  color: #ebf4dd;
  font-size: 1.8em;
  font-weight: 600;
}

.node-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.node-box {
  background-color: #e8e2db;
  color: #30364f;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 320px;
  max-width: 90%;
  min-height: 180px;
  margin: 16px 0;
  padding: 20px;
  border-radius: 15px;
  border: 5px solid #30364f;
}

.node-label {
  font-size: 2em;
  margin-bottom: 8px;
}

.node-type {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
  gap: 16px;
  flex-wrap: wrap;
}

.button {
  color: #30364f;
  padding: 10px 14px;
  font-size: 0.8em;
  cursor: pointer;
  border-radius: 10px;
  border-style: none;
  border: 5px solid #30364f;
  font-weight: 600;
}

.save-button {
  max-width: 100px;
  width: 100px;
  font-size: 1em;
}
